Body{font-family: 'Josefin Sans', sans-serif;
margin: 0%;}
h1{color: crimson;
font-size:60px ;}
.Color-Blue{color:blue}

section{display: flex;
height:500px ;
padding-bottom: 150px;}
.half-width{width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;}
    

    .half-width img{
        width: 100%;
.LinkButton{width: 40%;
text-decoration: none;
background-color: rgb(230, 143, 44);
font-weight: 700;
padding:2%;
border-radius:5px ;}
